.footer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.icon-set {
		width: auto;
		height: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&:hover .icon {
			fill: gray;
		}

		.icon {
			width: 24px;
			height: 24px;
			transition: all 200ms ease-in-out;
			cursor: pointer;

			&:hover {
				fill: black;
			}
		}
	}
}