.product-details {
	width: 100%;
	height: auto;
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (max-width: 450px) {
	    margin: 20px;
	}

	.panels {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.panel {
			width: 100%;
			max-width: 450px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 40px;

			.main-image {
				width: 100%;
				height: 500px;
				background-size: cover;
			    background-position: center;
			    margin-bottom: 20px;
			    animation: fade-in 600ms ease-in-out;

			    @keyframes fade-in {
			      0% {
			        opacity: 0;
			      }
			      100% {
			        opacity: 1;
			      }
			    }
			}

			.image-list {
				display: flex;

				.list-image {
					width: 120px;
					height: 120px;
					border: solid 1px grey;
					margin: 0 10px 0 0;
					background-size: cover;
					background-position: center;
					cursor: pointer;
					transition: all 200ms ease-in-out;

					&:hover {
				        opacity: 0.8;
				    }
				}
			}

			.price {
				color: grey;
				font-size: 150%;
			}
		}
	}

	
}